# CONFIGURACIÓN DE CREDENCIALES BINANCE FUTUROS
BINANCE_API_KEY=tu_api_key_aqui
BINANCE_SECRET_KEY=tu_secret_key_aqui

# MODO DE OPERACIÓN
# PAPER_TRADING=True (Simulación local) | False (Operación Real)
PAPER_TRADING=False

# USE_TESTNET=True (Servidor Testnet) | False (Servidor Real)
USE_TESTNET=False
